@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Poppins";
    src: url("../public/font/Poppins-SemiBold.ttf") format(".woff");
  }

  html {
    font-family: roboto;
  }

  h1 {
    font-family: Poppins;
  }
}
